# //nexus3.iteyes-lab.gurmwi.io/repository/npm-private/:_authtoken=ZGVwbG95ZXI6ZGVwbG95ZXIhMg==
registry=https://nexus3.iteyes-lab.gurmwi.io/repository/npm-group/
_auth=ZGVwbG95ZXI6ZGVwbG95ZXIhMg==

init.author.name  = deployer
init.author.email = admin@iteyes.co.kr
email=deployer@iteyes.co.kr
always-auth=truennn
